*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

/* RESETS, GLOBALS */
a{
    color: $color_black;
    display: inline-block;
    text-decoration: none;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;  /* 10px/16px = 62.5% -> 1rem = 10px */
    scroll-behavior: smooth;
}

body{
    color: $color_black;
    font-family: $font-primary;
    font-weight: 400;
    line-height: 1.6;
    position: relative;
    overflow-x: hidden;
}

.container{
    margin: 0 auto;
    max-width: $bp_lg;
    width: 90%;
}

.btn_rounded,
.btn_semi_rounded{
    background: $color_cyan;
    border: none;
    color: $color_white !important;
    cursor: pointer;
    font: 700 2rem $font_primary;
    outline: none;
    padding: .7rem 2.4rem;
}

.btn_rounded{
    border-radius: 2.8rem;
}

.btn_semi_rounded{
    border-radius: 1rem;
}

/* RESETS, GLOBALS END */

/* NAV */
nav .container{
    display: flex;
    font: 700 1.5rem $font_primary;
    height: 10rem;
    justify-content: space-between;
    margin-top: 2.5rem;

    .left_nav{
        align-items: center;
        display: flex;
        gap: 3rem;
        li{
            &:first-child{
                margin-right: 1.5rem;
            }
            a{
                color: $color_grey;
            }
        }
    }

    .right_nav{
        align-items: center;
        display: flex;
        gap: 3.5rem;
        li{
            a{
                color: $color_grey;
            }
        }
    }
}
/* END NAV */

/* HERO SECTION */

#hero .container{
    align-items: center;
    display: flex;
    gap: 10rem;
    margin-top: 2.7rem;
    padding-bottom: 15.5rem;
    position: relative;

    .description{

        min-width: 56.5rem;
        h1{
            font: 700 8rem/9rem $font_primary;
            letter-spacing: -.2rem;
            color: $color_black;
            margin-bottom: .5rem;
        }

        p{
            color: $color_grey;
            font: 500 2.2rem/3.6rem $font_primary;
            margin-bottom: 3.7rem;
        }

        a{
            font: 700 2rem $font_primary;
            padding: 1rem 4rem;
        }
    }

    .illustration_container{
        min-width: 73.3rem;
        img{
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }

    form{
        align-items: center;
        background: $color_dark_purple url("../images/bg-shorten-desktop.svg");
        border-radius: 1rem;
        bottom: -8.2rem;
        display: flex;
        flex: 1;
        gap: 2.4rem;
        height: 16.8rem;
        justify-content: center;
        padding: 0 6.5rem;
        position: absolute;
        width: 100%;

        input{
            border-radius: 1rem;
            border: none;
            color: $color_grey;
            flex: 1;
            font: 500 2rem/3.6rem $font_primary;
            height: 6.4rem;
            outline: none;
            padding: 0 3.2rem;

            &::placeholder{
                opacity: .5;
            }
        }

        button[type="submit"]{
            height: 6.4rem;
        }
    }
}

/* END HERO SECTION */

/* STATISTICS SECTION */
#statistics{
    background: $color_light_grey;
    .container{
        padding: 20rem 0 20.8rem;
        .details{
            text-align: center;
            h2{
                font: 700 4rem/4.8rem $font_primary;
                letter-spacing: -.1rem;
                margin-bottom: 1.8rem;
            }
            p{
                color: $color_grey;
                font: 500 1.8rem/3.2rem $font_primary;
                margin: 0 auto;
                max-width: 54rem;
            }

        }

        .stats_container{
            display: flex;            
            gap: 3rem;
            justify-content: space-between;
            margin-top: 10.5rem;
            position: relative;
            &::before{
                background: $color_cyan;
                content: "";
                height: .8rem;
                position: absolute;
                top: 15.5rem;
                width: 100%;
            }
            .stats{
                background: $color_white;
                border-radius: .5rem;
                height: 26.7rem;
                max-width: 35rem;
                padding: 7rem 3.2rem 3.2rem;
                position: relative;

                &:nth-child(2){
                    transform: translateY(4.4rem);
                }
                &:nth-child(3){
                    transform: translateY(8.8rem);
                }

                div{
                    background: $color_purple;
                    border-radius: 50%;
                    height: 8.8rem;
                    object-fit: contain;
                    padding: 2rem;
                    position: absolute;
                    top: -20%;
                    width: 8.8rem;

                    &.icon_brand{
                        background: $color_purple url("../images/icon-brand-recognition.svg") no-repeat center / contain;
                        background-size: 50%;
                    }

                    &.icon_records{
                        background: $color_purple url("../images/icon-detailed-records.svg") no-repeat center / contain;
                        background-size: 50%;
                    }

                    &.icon_customizable{
                        background: $color_purple url("../images/icon-fully-customizable.svg") no-repeat center / contain;
                        background-size: 50%;
                    }
                }

                h3{
                    font: 700 2.2rem $font_primary;
                }   

                p{
                    color: $color_grey;
                    font: 500 1.5rem/2.6rem $font_primary;
                }
            }
        }

    }
}
/* END OF STATISTICS SECTION */

/* BOOST SECTION */

#boost{
    background: $color_dark_purple url("../images/bg-boost-desktop.svg") no-repeat center / cover;
    .container{
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 3.2rem;
        height: 25rem;
        justify-content: center;
        text-align: center;
        h4{
            color: $color_white;
            font: 700 4rem/4.8rem $font_primary;
            letter-spacing: -.1rem;
        }
    }

}

/* END BOOST SECTION */

/* FOOTER */
footer{
    background: #232127;
    padding: 7.3rem 0;
    .container{
        color: $color_white;
        display: flex;
        gap: 8rem;
        justify-content: space-between;

        img{
            align-self: flex-start;
            margin-right: auto;
        }

        ul{
            display: flex;
            flex-direction: column;
            gap: 1rem;
            li{
                p{
                    font: 700 1.6rem $font_primary;
                    margin-bottom: 1rem;
                }
                a{
                    color: #BFBFBF;
                    font: 500 1.5rem $font_primary;
                    letter-spacing: -.00234rem;
                }
            }
        }

        .social_list{
            flex-direction: row;
            gap: 2.4rem;
            span{
                display: block;
                height: 2.4rem;   
                width: 2.4rem;
            }
            .icon_facebook{
                background: url("../images/icon-facebook.svg") no-repeat center / contain;
            }
            .icon_twitter{
                background: url("../images/icon-twitter.svg") no-repeat center / contain;
            }
            .icon_pinterest{
                background: url("../images/icon-pinterest.svg") no-repeat center / contain;
            }
            .icon_instagram{
                background: url("../images/icon-instagram.svg") no-repeat center / contain;
            }
        }
    }
}
/* END FOOTER */