@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;700&display=swap');

/* Font */
$font_primary: "Jost", sans-serif;

/*  */
$color_peach: #E7816B;
$color_light_peach: #FFAD9B;
$color_black: #1D1C1E;
$color_dark_grey: #333136;
$color_white: #FFFFFF;
$color_light_grey: #F1F3F5;

/* Break Points */
$bp_lg: 1111px;
$bp_md: 1000px;
$bp_sm: 700px;
