@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;700&display=swap');

/* Font */
$font_primary: "Poppins", sans-serif;

/*  */

$color_cyan: #2BD0D0;
$color_grey: #9E9AA8;
$color_light_grey: #EFF1F7;
$color_purple: #4B3F6B;
$color_dark_purple: #3A3054;
$color_black: #34313D;
$color_white: #FFFFFF;

/* Break Points */
$bp_lg: 1108px;
$bp_md: 1000px;
$bp_sm: 700px;
