#contact_page{
    #contact_header .container{
        align-items: center;
        background: $color_peach url("../../images/contact/bg-pattern-hero-desktop.svg") no-repeat bottom left;
        border-radius: 1.5rem;
        display: flex;
        height: 48rem;

        @media only screen and (max-width: $bp_md){
            background-position: -12.5rem -8.5rem;
            flex-direction: column;
            height: 71.1rem;
            padding: 7.3rem 5.8rem;
        }

        @media only screen and (max-width: $bp_sm){
            background: $color_peach url("../../images/contact/bg-pattern-hero-contact-mobile.svg") no-repeat -103px 0px;
            border-radius: 0;
            height: 76.4rem;
            padding: 7.3rem 2.5rem;
            text-align: center;
            width: 100%;
        }

        > div{
            flex: 1;
            padding: 0 3rem 0 9.5rem;
            
            @media only screen and (max-width: $bp_md){
                flex: initial;
                margin-bottom: 3.5rem;
                padding: 0;
            }

            @media only screen and (max-width: $bp_sm){
                margin-bottom: 4.3rem;
            }

            h1{
                color: $color_white;
                font: 500 4.8rem/4.8rem $font_primary;
                margin-bottom: 3.4rem;

                @media only screen and (max-width: $bp_sm){
                    font: 500 3.2rem/3.6rem $font_primary;
                    margin-bottom: 2.5rem;
                }
            }
            p{
                color: $color_white;
                font: 400 16px/26px $font_primary;
                max-width: 44.5rem;

                @media only screen and (max-width: $bp_md){
                    max-width: initial;
                }

                @media only screen and (max-width: $bp_sm){
                    font: 400 1.5rem/2.5rem $font_primary;
                }
            }
        }
    
        form{
            display: flex;
            flex-direction: column;
            gap: 2.3rem;
            padding-right: 9.6rem;
            width: 47.6rem;

            @media only screen and (max-width: $bp_md){
                padding-right: 0;
                width: 100%;
            }

            .input_group.error{
                position: relative;
                &::before{
                    background: url("../../images/contact/icon-error.svg") no-repeat 85px 4px;
                    color: $color_white;
                    content: "Can't be empty";
                    display: block;
                    font: italic 400 1.2rem/2.6rem $font_primary;
                    height: 30px;
                    position: absolute;
                    right: 0;
                    top: 4px;
                    width: 108px;
                }
            }

            input,
            textarea{
                background: none;
                border: none;
                border-bottom: 1px solid $color_white;
                color: $color_white;
                font: 500 15px/26px $font_primary;
                outline: none;
                padding-left: 1.7rem;
                position: relative;
                width: 100%;

                &::placeholder{
                    color: $color_white;
                    font: 500 15px/26px $font_primary;
                    opacity: .5;  
                }

                &:hover,
                &:focus{
                    border-bottom-width: .3rem;
                }
            }

            input{
                height: 38px;
            }

            textarea{
                height: 102px;
                resize: none;
                width: 100%;
            }

            button{
                cursor: pointer;
                margin-left: auto;
                padding: 1.6rem 4.9rem;

                @media only screen and (max-width: $bp_sm){
                    margin: 1.7rem auto 0;
                }
            }
        }
    }

    footer{
        margin-top: 16rem;

        @media only screen and (max-width: $bp_md){
            margin-top: 12rem;
        }
    }

    .bg_leaf_2{
        bottom: 23.5rem;
    }
}