#web_design_page{

    footer{
        margin-top: 38rem;

        @media only screen and (max-width: $bp_md){
            margin-top: 38.5rem;
        }
        @media only screen and (max-width: $bp_sm){
            margin-top: 28.6rem;
        }
    }

    .bg_leaf_1{
        top: 29rem;
    }
}